---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  background-color: white;
}

.logo {
  margin: 0.5em 0;
  display: inline;
}

p {
  color: rgba(38,38,38,.84);
  letter-spacing: 0.04em;
  line-height: 2.2em;
  font-size: 14px;
}

.image-quote {
  display: flex;
  flex-direction: row;
  padding: 0 2em;

  img {
    height: 400px;
    align-self: center;
  }

  span {
    align-self: center;
    margin: 0 2em;
  }
}

.page-title {
  widows: 100%;
  text-align: center;
}